*,
*::before,
*::after {
  box-sizing: border-box;
}
ul[role="list"] {
  list-style: none;
  padding-left: 0; /* Remove indentation */
}
/* Font (source: https://zenn.dev/tak_dcxi/articles/588fbc205251043dc357) */
body {
  font-family: "Helvetica Neue", "Segoe UI", "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
}
h1 {
  color: #2d2d2d;
  font-weight: 400;
}
.footnotes {
  color: #757575;
  font-size: 12px;
}
.footnotes h2 {
  font-weight: 400;
}
.footnotes a {
  color: #4e79a7; /* taken from Tableau color palette */
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-position: under;
}
.footnotes a:hover,
.footnotes a:focus {
  font-weight: 700;
  text-decoration-thickness: 2px;
}
/* Layout */
ul[role="list"] > li:not(:first-of-type) {
  margin-top: 15px;
}
.footnotes {
  margin-left: 80px;
}
@media only screen and (min-width: 690px) {
  .footnotes {
    column-gap: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 890px;
  }
}
