*,
*::before,
*::after {
  box-sizing: border-box;
}
ul[role="list"] {
  list-style: none;
  padding-left: 0; /* Remove indentation */
}
/* Font (source: https://zenn.dev/tak_dcxi/articles/588fbc205251043dc357) */
body {
  font-family: "Helvetica Neue", "Segoe UI", "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
}
header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
h1 {
  color: #2d2d2d;
  font-weight: 400;
}
a {
  color: #4e79a7; /* taken from Tableau color palette */
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-position: under;
}
a:hover,
a:focus {
  font-weight: 700;
  text-decoration-thickness: 2px;
}
.footnotes {
  color: #757575;
  font-size: 12px;
}
.footnotes h2 {
  font-weight: 400;
}
/* Layout */
ul[role="list"] > li:not(:first-of-type) {
  margin-top: 15px;
}
.footnotes {
  margin-left: 80px;
}
@media only screen and (min-width: 690px) {
  .footnotes {
    column-gap: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 890px;
  }
}
/* Drop down menu */
.chart-heading {
  font-family: "Helvetica Neue", "Segoe UI", "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  font-size: 24px;
  font-weight: 200;
}
.select-container {
  position: relative;
}
.select-container:before {
  content: "▿";
  font-size: 18px;
  width: 0;
  height: 0;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -4px;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  z-index: -1;
}
.chart-heading-select {
  color: #2d2d2d;
  font-family: "Helvetica Neue", "Segoe UI", "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  font-size: 24px;
  background-color: transparent;
  border-bottom: solid currentColor;
  border-width: 0 0 1px;
  padding: 2px 18px 2px 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.chart-heading-select:focus {
  outline: none;
}
